@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Marvel:400,700');

/* Primaire : #245C00 |	Secondaire:	#67A125 | Tertiaire: #B2DE81 | Complémentaire: #FCFEFE */

body{	font-family: 'Marvel', sans-serif;	font-size: 18px;	line-height:22px }
h1, h2, h3{	font-family: 'Fredericka the Great', cursive; color: #245C00; }
h1{ font-size: 32px; }
h2{ font-size: 24px; }
h3{ font-size: 20px; }

a,a:hover, a:link,a:visited {	text-decoration: none; color: #fff }
p {	text-align: justify; margin-bottom: 15px }

header {	background: url(../images/header.jpg) no-repeat;	background-size: cover;	height: 160px }
header h1{ padding: 60px 30px;	font-size: 48px;	font-weight: bold; color: #FCFEFE }

nav ul {	background-color:#67A125;	list-style-type: none;	padding: 0px; margin:0 }
nav li { display: inline-block;	padding: 15px 0;}
nav li.contact{ float: right }
nav li a {color: #FCFEFE;	font-weight: bold; padding:11px 12px 13px 12px; font-size: 24px;  }
nav li a:link {	text-decoration: none; font-weight: bold }
nav li.on a:link { background-color: #B2DE81 }
nav li a:hover { text-decoration: underline;	background-color: #B2DE81 }

section {	padding: 10px }
section h1{	padding: 10px 0; margin-bottom: 15px; font-weight: bold }
section h2{ background: url(../images/flower.png) no-repeat; line-height: 64px;	padding-left: 64px; margin-bottom: 15px }
section ul{	list-style-type: square; margin:15px 50px}

figure{ text-align: center;}
figcaption{ font-style: italic;	font-size: 80%;}

footer { clear:both; background-color: #67A125; font-size: 80%; text-align: center; height: 5vh; color: #fff }

/* Structure */
#container { margin: 0 auto;	width: 1200px; text-align: left; background-color: #FCFEFE }
.row { margin-left: 0;  margin-right: 0 }
.col-1, .col-2, .col-3, .col-4{ padding:0 15px; float: left;}
.col-1{ width:25%; }
.col-2{ width:50%; }
.col-3{ width:75%; }
.col-4{width:100%;}
.last{ clear: both; }
.col-center{ margin-left: auto; margin-right: auto; text-align: center;}

.lead{ background-color: #245C00; color:#FCFEFE; padding: 15px; font-size: 18px }

/* Page Index */
.video{ width: 100%; margin:0; padding:0; height: 400px; overflow: hidden }
.video video{ width: 100% }

/* Page Jardin */
#jardins .last-col{ background:url(../images/flowers.jpg) repeat-y 100px 0; min-height: 100vh; margin-top: -90px }

/* Page Parcs */
#parcs .row{	border-top: 5px solid #245C00; padding: 15px 0; min-height: 60vh; }
#parcs .row:hover{	background: #67A125;  color:#FCFEFE }
#parcs .row:hover h2{	color:#FCFEFE }
#parcs figure img{	width: 100px;	}

/* Contact */
#contact form{ background-color: #67A125; width: 100%; padding:30px 60px; margin-bottom: 60px  }
#contact form fieldset{ border: 2px solid #FCFEFE; padding: 15px }
#contact label, legend{ color:#FCFEFE }
#contact label, input, button, textarea{ display: block;  }
#contact input, textarea{ width: 100% }
#contact button{ width: 50%; margin:15px auto; background-color: #245C00; color:#FCFEFE; padding: 15px; font-size: 18px; border: 0  }
#contact button:hover{ background-color: #B2DE81 ; color:#000; cursor: pointer  }
